/**
 * Override
 */
body {
	font-family: 'grota_sansbook';
}

b,
strong,
.control-label {
	font-family: 'grota_sansbold';
	font-weight: normal;
}

a,
button {
	outline: none !important;
	text-decoration: none !important;
}

a:hover {
	opacity: .9;
}


hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #d1d1d1;
}

.media-middle {
    vertical-align: middle !important;
}

.body-listing .irs-single,
.bb {
	font-family: 'grota_sansblack';
	font-weight: normal;
	font-style: normal;
}

.bb-rounded {
	font-family: 'grota_roundedblack';
	font-weight: normal;
	font-style: normal;
}

.form-control {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-color: #ccc;
}

.form-control:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: #ddbd80;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #fff;
}

label {
	font-weight: normal;
}

.form-group {
	position: relative;
}

.pagination .icon {
	position: relative;
	top: 2px;
}

.pagination > li > a,
.pagination > li > span {
	margin-right: 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.pagination > li > span.space {
	border: 0;
}


/**
 * Puzzle
 */
.text-white {
	color: #fff !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.no-padding {
	padding: 0 !important;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-border {
	border: 0 !important;
}

.no-border-left {
	border-left: 0;
}

.no-radius {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}

.no-shadow {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	text-shadow: none !important;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.row > [class*="col-"] {
    padding-right: 10px;
	padding-left: 10px;
}

.col-center[class*="col-"] {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.row-small {
	margin-right: -5px !important;
    margin-left: -5px !important;
}

.row-small > [class*="col-"] {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
	margin: 0 !important;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-static {
	position: static;
}

.block {
	display: block;
}

.btn {
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.btn-x-lg {
	padding: 12px 26px;
	font-size: 22px;
}

.btn .icon {
	position: relative;
	top: 2px;
}

.btn-ghost {
	color: #333;
	border: solid #009f3c 2px;
	text-decoration: none;
}

.btn-ghost:hover {
	background: #009f3c;
	text-decoration: none;
	color: #fff;
}

.btn-yellow { 
	color: #000000; 
	background-color: #FFC124; 
	border-color: #FFC124; 
} 
 
.btn-yellow:hover, 
.btn-yellow:focus, 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
	color: #000000; 
	background-color: #ffc20f; 
	border-color: #FFC124; 
} 
 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
	background-image: none; 
} 
 
.btn-yellow.disabled, 
.btn-yellow[disabled], 
fieldset[disabled] .btn-yellow, 
.btn-yellow.disabled:hover, 
.btn-yellow[disabled]:hover, 
fieldset[disabled] .btn-yellow:hover, 
.btn-yellow.disabled:focus, 
.btn-yellow[disabled]:focus, 
fieldset[disabled] .btn-yellow:focus, 
.btn-yellow.disabled:active, 
.btn-yellow[disabled]:active, 
fieldset[disabled] .btn-yellow:active, 
.btn-yellow.disabled.active, 
.btn-yellow[disabled].active, 
fieldset[disabled] .btn-yellow.active { 
	background-color: #FFC124; 
	border-color: #FFC124; 
} 
 
.btn-yellow .badge { 
	color: #FFC124; 
	background-color: #000000; 
}

.btn-group-lg > .btn, .btn-lg {
    padding: 8px 26px 5px 26px;
}

.text-title {
	font-size: 18px;
	margin-bottom: 15px;
}

.bg-grey {
	background-color: #f3f3f3;
}

.typeahead {
	left: 0px !important;
	right: 0px !important;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.img-responsive {
	max-width: 100%;
	display: inline-block;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.bottom-destinations {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
}

.inline-input > div:first-child {
	background-color: #fff;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.inline-input > div:first-child input {
	border-right: 0;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.inline-input > div:last-child input {
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.inline-input .input-group-addon {
	background-color: #fff;
	border-color: #ccc;
	position: relative;
	padding: 0px 18px;
	color: #0283df;
	border-right: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.inline-input-single .input-group-addon .icon,
.inline-input .input-group-addon .icon {
	position: absolute;
	font-size: 21px;
	left: 9px;
	top: 10px;
}

.inline-input-single .input-group-addon {
	background-color: #fff;
	border-color: #ccc;
	color: #0283df;
	border-right: 0;
	padding: 0px 18px;
	position: relative;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}



/**
 * Header
 */
.navbar {
	margin-bottom: 0;
	padding-bottom: 0;
}

.navbar-default {
	left: 0;
	right: 0;
	top: 0;
	background: transparent;
	border: 0;
}

.navbar .btn-head {
	padding-top: 10px !important;
}

.navbar-brand img {
	max-height: 24px;
}

.homepage .home-head {
	padding: 55px 0;
}

.homepage .home-head .navbar-brand {
	height: auto;
	position: absolute;
	top: -30px;
}

.homepage .home-head .navbar-brand img {
	max-height: 80px;
}

.body-listing .home-head {
	padding: 0px 0;
}

.body-listing .home-head .navbar-brand {
	top: -10px;
}

.body-listing .home-head .navbar-brand img {
	max-height: 30px;
}

.home-head .navbar-collapse {
	border-top: 0;
}

.home-head .navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.home-head .navbar-default .navbar-toggle:hover .icon-bar,
.home-head .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #333;
}

.homepage .home-head .navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.body-listing .home-head .navbar-default .navbar-nav > li > a {
	font-size: 16px;
	padding: 7.5px 10px;
}



/**
 * Main
 */
.intro {
	background-color: #eee;
	background-image: url('../images/home.jpg');
	background-size: cover;
	background-position: center;
	padding: 80px 0 22% 0;
	position: relative;
}

.intro::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: RGBA(0, 0, 0, 0.3);
}

.intro h2 {
	margin-bottom: 40px;
	margin-top: 0;
	font-size: 34px;
	line-height: 1.3;
	color: #fff;
	 font-family: 'grota_sansblack';
}

.intro.intro-login {
	background-image: url('../images/login-bg.jpg');
	background-position: center top;
	min-height: 770px;
	padding: 160px 0 0 0;
}

.intro.intro-login::before {
	background-color: RGBA(0, 0, 0, 0.05);
}

.intro.intro-login h2 {
	margin-bottom: 30px;
}
	

.tab-filter {
	position: absolute;
	top: 110%;
	bottom: auto;
	left: 40px;
	right: 40px;
}

.tab-filter .nav-tabs {
	border: 0;
}

.tab-filter .nav-tabs > li {
    margin-bottom: 0;
}

.tab-filter .nav-tabs > li > a {
	margin-right: 0;
	padding: 10px 25px;
	padding-left: 34px;
	border: 0 !important;
	background-color: rgba(0,0,0,.45);
	color: #fff;
	font-size: 18px;
}

.tab-filter .nav-tabs > li > a,
.tab-filter .nav-tabs > li > a:focus,
.tab-filter .nav-tabs > li > a:hover {
    border: 1px solid #ddd;
	border-right: 0;
    border-bottom-color: transparent;
}

.tab-filter .nav-tabs > li > a:focus,
.tab-filter .nav-tabs > li > a:hover {
	background-color: rgba(0,0,0,.6);
	text-decoration: underline;
}

.tab-filter .nav-tabs > li:last-child > a,
.tab-filter .nav-tabs > li:last-child > a:focus,
.tab-filter .nav-tabs > li:last-child > a:hover {
	border-right: 1px solid #ddd;
}

.tab-filter .nav-tabs > li.active > a,
.tab-filter .nav-tabs > li.active > a:focus,
.tab-filter .nav-tabs > li.active > a:hover {
	background-color: rgba(255,255,255,.8);
	color: #000;
}

.tab-filter .nav-tabs > li > a .icon {
	font-size: 20px;
	position: absolute;
	left: 10px;
	line-height: 0;
	top: 13px;
}

.tab-filter > .tab-content {
	border: 0;
	border-top: 0;
	padding: 15px 15px 0 15px;
	background-color: rgba(255,255,255,.8);
	position: relative;
}

.tab-filter input {
	height: 40px;
	padding: 8px 15px;
}

.tab-filter button {
	height: 40px;
	font-size: 15px;
}

.tab-airport .nav-pills {
	padding-bottom: 15px;
}

.tab-airport .nav-pills a {
	padding: 6px 12px;
	font-size: 13px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}


.intro-listing {
	background-image: none;
	background-color: rgba(255, 255, 255, .8);
	padding: 0;
}

.intro-listing::before {
	display: none;
}

.intro-listing .tab-filter {
	position: static;
}

.intro-listing .tab-filter .nav-tabs > li > a {
	font-size: 15px;
}

.intro-listing .tab-filter .nav-tabs > li > a .icon {
    font-size: 18px;
    top: 11px;
}



.highlight {
	padding: 50px 0;
}

.highlight .icon {
	font-size: 60px;
	line-height: 0;
}


.featured {
	padding: 10px 0 10px 0;
}

.featured .box-wrap {
	margin-bottom: 10px;
}

.featured .box {
	background-color: #ddd;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.featured .box::before {
	display: block;
	content: "";
	padding-bottom: 75%;
}

.featured .f-name {
	background-color: #ffc124;
	padding: 10px 15px;
	color: #000;
}

.featured .f-name .f-title {
	text-transform: uppercase;
	font-size: 20px;
}

.featured .f-name .f-subtitle {
	font-size: 16px;
}


.review {
	color: #37BC9B;
	font-size: 14px;
}

.review .icon.text-muted {
	color: #aaa;
}

.review .icon {
	font-size: 17px;
	position: relative;
	top: 3px;
}


.quickchoice {
	padding: 0 0 10px 0;
}

.quickchoice .tabs {
	border: 0;
}

.quickchoice .tab-content.tab-content-destinations {
	padding: 30px 10px 10px 10px;
}

.quickchoice .nav-tabs.tab-destinations {
	width: 100%;
	border: 0;
}

.quickchoice .nav-tabs.tab-destinations > li {
	margin-right: 35px;
}

.quickchoice .nav-tabs.tab-destinations > li > a {
	margin-right: 0;
	border-top: 0;
	border: 0 !important;
	border-bottom: 5px solid #ffc124 !important;
	border-radius: 0;
	-webkit-border-radius: 0;
	text-align: center;
	display: block;
	color: #fafafa;
	padding: 0 0 5px 0;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'grota_roundedblack';
}

.quickchoice .nav-tabs.tab-destinations > li > a:hover,
.quickchoice .nav-tabs.tab-destinations > li > a:active,
.quickchoice .nav-tabs.tab-destinations > li > a:focus {
	background-color: transparent;
}

.quickchoice .nav-tabs.tab-destinations > li:first-child a {
	border-left: 0 !important;
}

.quickchoice .nav-tabs.tab-destinations > li:last-child a {
	border-right: 0 !important;
}

.quickchoice .nav-tabs.tab-destinations > li.active > a,
.quickchoice .nav-tabs.tab-destinations > li.active > a:focus,
.quickchoice .nav-tabs.tab-destinations > li.active > a:hover {
	border-bottom: 5px solid #ffc124 !important;
	margin-bottom: 0;
	color: #fff;
	background-color: transparent;
}

.quickchoice .title-content {
	font-size: 19px;
	padding-top: 15px;
}

.quickchoice .image {
	width: 50px;
}

.quickchoice .image img {
	width: 100%;
	height: auto;
}

.quickchoice .p-from {
	font-size: 16px;
	margin-bottom: -1px;
	line-height: 1;
	color: #777;
}

.quickchoice sup {
	font-size: 15px;
	color: #888;
}

.quickchoice .nom {
	font-size: 20px;
	color: #3d7b3e;
}

.quickchoice .list-inline {
	margin-top: 5px;
}

.quickchoice .list-inline > li {
	padding-right: 0;
	float: left;
	color: #777;
	font-size: 13px;
}

.quickchoice .list-inline > li .icon {
	position: relative;
	top: 1px;
	color: #75c277;
	right: 1px;
}


.the-listing .l-list {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow-y: scroll;
	padding-right: 15px;
	background-color: #fff;
}

.the-listing .l-list > .media-list > li {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 15px;
}

.the-listing .l-list > .media-list .images {
	position: relative;
}

.the-listing .l-list > .media-list .images .quick-view {
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 3px 25px;
	font-size: 13px;
	z-index: 1;
	visibility: hidden;
	margin: auto;
	display: inline-block;
	left: 0;
	right: 0;
	width: 150px;
}

.the-listing .l-list > .media-list .images .quick-view .icon {
	position: relative;
	top: 3px;
}

.the-listing .l-list > .media-list .images:hover .quick-view {
	visibility: visible;
}

.the-listing .l-list > .media-list .images .item,
.detail .d-similiar .images .item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 192px;
}

.the-listing .l-list > .media-list .images .carousel-control,
.detail .d-similiar .images .carousel-control {
	background: none;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
	opacity: .7;
	visibility: hidden;
}

.the-listing .l-list > .media-list .images:hover .carousel-control,
.detail .d-similiar .images:hover .carousel-control {
	visibility: visible;
}

.the-listing .l-list > .media-list .images .user {
	color: #fff;
	position: absolute;
	bottom: 10px;
	left: 10px;
	top: auto;
}

.the-listing .l-list > .media-list .images .user .avatar {
	width: 40px;
}

.the-listing .l-list > .media-list .images .user .avatar img {
	width: 100%;
	padding: 1px;
	background-color: #fff;
}

.the-listing .l-list > .media-list .detail {
	margin-top: 5px;
}

.the-listing .l-list > .media-list .detail .l-name {
	font-size: 12px;
}

.the-listing .l-list > .media-list .detail .media-list {
	margin-bottom: 0;
}

.the-listing .l-list > .media-list .detail li {
	position: relative;
	padding-bottom: 3px;
	margin-bottom: 3px;
	font-size: 13px;
	line-height: 1.36;
	color: #555;
	border-bottom: 1px solid #ebebeb;
}

.the-listing .l-list > .media-list .detail ul li:last-child {
	border: 0;
}

.the-listing .l-list > .media-list .detail li .price {
	font-size: 15px;
	line-height: 1;
	margin-top: 6px;
}

.the-listing .l-list > .media-list .detail li .price sup {
	margin-right: 2px;
	display: inline-block;
	color: #555;
}

.the-listing .l-map {
	display: block;
	background-color: #aaa;
	border-top: 1px solid #eaeaea;
}

.the-listing .l-map iframe {
	width: 100%;
}

.body-listing .irs-to,
.body-listing .irs-from,
.body-listing .irs-min,
.body-listing .irs-max {
	display: none !important;
	visibility: hidden !important;
}

.body-listing .irs-single {
	display: block !important;
	visibility: visible !important;
	left: auto !important;
	background: transparent;
	color: #fff;
	position: absolute;
	top: -9px;
	right: 0;
	font-size: 15px;
	padding: 0;
}

.break {
	position: relative;
}

.b-title {
	font-size: 15px;
}

.range .b-title {
	margin-bottom: -12px;
}

.the-listing .l-filter {
	border-bottom: 2px solid #eaeaea;
	margin-bottom: 15px;
}

.the-listing .l-filter-bbm {
	padding-top: 25px;
}

.the-listing .l-filter .input-group .input-group-addon {
	position: relative;
	padding-left: 10px;
	padding-right: 26px;
}

.the-listing .l-filter .input-group .input-group-addon .icon {
	font-size: 18px;
	position: absolute;
	top: 9px;
}

.the-listing .l-filter .btn-submit {
	width: 105px;
	margin-top: 25px;
}

.the-listing .l-filter .result {
	margin-bottom: 7.5px;
}

.the-listing .l-filter .result .icon {
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
}

.the-listing .l-filter .result li {
	position: relative;
}

.the-listing .l-filter .result li a.active {
	display: block;
	padding-right: 13px;
}

.the-listing .l-list .s-price {
	line-height: 1.15;
	margin-top: 5px;
	border: 1px solid #ddd;
	padding: 10px;
	padding-top: 20px;
	text-align: right;
}

.the-listing .l-list .s-price .nom {
	font-size: 20px;
	color: #ff4f5c;
}

.the-listing .l-list .s-price a {
	margin-top: 15px;
}

.the-listing .l-list #date-filter + div {
	top: 64px !important;
	bottom: auto !important;
}

.the-listing .l-pagination .l-pag-text {
	margin-top: 15px;
}

.the-listing .l-pagination .pagination {
	margin-top: 10px;
}

.l-filter {
	background-color: #95a1f2;
	padding: 10px 15px;
	margin-top: 10px;
	color: #fff;
}

.l-filter .irs-bar {
	background: #E9573F !important;
}

.l-filter .irs-slider.to,
.l-filter .irs-slider.from {
	background: #fff !important;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	cursor: pointer;
}

.l-filter .irs-slider.to::before,
.l-filter .irs-slider.from::before {
	content: "\e041";
	font-family: "material-icon-font" !important;
	font-size: 21px;
	position: absolute;
	line-height: normal;
	top: 1px;
	color: #555;
}

.l-filter .irs-slider.from::before {
	content: "\e042";
}

.l-filter label {
	font-size: 15px;
}

.l-filter .form-control,
.l-filter .btn-default {
	background: none !important;
	border: 0;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	font-family: 'grota_sansbook';
	text-transform: uppercase;
	color: #fff;
	padding: 0 !important;
	outline: none !important;
	height: 20px;
}

.l-filter .dropdown {
	color: #333;
}

.l-filter .dropdown ul {
	margin: 0;
	padding: 0;
}

.l-filter .dropdown input[type="checkbox"],
.l-filter .dropdown input[type="radio"] {
	position: relative;
	top: 2px;
}

.l-filter .dropdown .select-option {
	padding: 10px 10px 7px 10px;
}

.l-filter .dropdown .select-button {
	background-color: #eee;
	padding: 10px;
}

.l-filter .dropdown .select-button .btn-clear {
	background: #bbb !important;
	color: #fff !important;
}

.l-filter .dropdown .select-button .btn {
	font-size: 15px;
	padding: 3px 15px;
}

.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
	color: #fff;
}

.l-filter .dropdown-menu > li > a {
	padding: 3px 10px;
}

.l-filter .caret {
	display: none;
}

.l-filter > div.row > div:first-child::before {
	content: "";
	height: 50px;
	width: 1px;
	background-color: #d1d1d1;
	position: absolute;
	right: -1px;
}

.l-filter > div > div > div.row > div::before {
	content: "";
	height: 50px;
	width: 1px;
	background-color: #d1d1d1;
	position: absolute;
	left: -1px;
}

.l-list-filter {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 15px;
	margin-top: -16px;
	font-size: 15px;
}

.l-list-filter .text {
	padding-top: 5px;
}

.l-list-filter a {
	padding: 15px 20px;
	display: block;
	color: #333;
	margin-top: -2px;
}

.l-list-filter .active a {
	padding: 13px 20px;
	background-color: #ffa;
	border-bottom: 4px solid #f0de10;
}

.l-list-filter ul {
	margin: 0;
}
	

.body-listing .tab-filter > .tab-content {
	border: 0;
	background-color: transparent;
}

.body-listing .tab-filter .nav-tabs > li > a,
.body-listing .tab-filter .nav-tabs > li > a:focus,
.body-listing .tab-filter .nav-tabs > li > a:hover {
	border-top: 1px solid #eaeaea !important;
	border-left: 1px solid transparent !important;
}

.body-listing .tab-filter .nav-tabs > li:last-child.active > a,
.body-listing .tab-filter .nav-tabs > li:last-child.active > a:focus,
.body-listing .tab-filter .nav-tabs > li:last-child.active > a:hover {
	border-right: 1px solid #eaeaea !important;
}

.body-listing .tab-filter .nav-tabs > li:first-child.active > a,
.body-listing .tab-filter .nav-tabs > li:first-child.active > a:focus,
.body-listing .tab-filter .nav-tabs > li:first-child.active > a:hover {
	border-left: 1px solid #eaeaea !important;
}

.body-listing .tab-filter .nav-tabs > li {
    margin-bottom: -1px;
}

.body-listing .tab-filter .nav-tabs {
    border-bottom: 1px solid #eaeaea;
}


.detail .d-tab {
	margin-bottom: 20px;
}

.detail .d-tab .nav-tabs > li > a {
	background-color: #ffc124;
	color: #000;
	border: 0 !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 5px;
}

.detail .d-tab .nav-tabs > li > a:focus,
.detail .d-tab .nav-tabs > li > a:hover {
	opacity: .9;
	background-color: #ffc124;
}

.detail .d-tab .nav-tabs > li.active > a,
.detail .d-tab .nav-tabs > li.active > a:focus, 
.detail .d-tab .nav-tabs > li.active > a:hover {
	background-color: #fff;
	border: 0;
	color: #333;
	z-index: 2;
	opacity: 1;
}

.detail .d-tab .tab-content .d-top-block {
	padding: 15px;
	background-color: #fff;
}

.detail .d-tab .tab-content {
	background-color: #fff;
	position: relative;
	z-index: 1;
}

#quick-view-modal .detail .d-tab .tab-content {
	background-color: transparent;
}

.detail .d-tab .tab-content::before {
	-webkit-box-shadow: 0 -2px 4px 0 #000;
	box-shadow: 0 -2px 4px 0 #000;
	display: block;
	content: "";
	height: 1px;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	z-index: -1;
}

.detail .d-tab .name {
	font-size: 26px;
}

.detail .d-tab .location {
	margin-bottom: 15px;
	font-size: 15px;
	padding-left: 25px;
}

.detail .d-tab .location .icon {
	position: absolute;
	left: 0;
	font-size: 20px;
	top: -1px;
}

.detail .d-tab .seat {
	font-size: 15px;
	letter-spacing: 1px;
}

.detail .d-tab .price {
	font-size: 30px;
	color: #ff4f5c;
}

.detail .d-tab .terms {
	top: 27px;
}

.detail .ribbon-popular {
	right: 0px;
	top: 50%;
}

.detail .ribbon-popular a {
	width: 100px;
}

.detail .d-bottom {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin-top: 20px;
}

.detail .d-icon {
	padding-top: 15px;
}

.detail .d-icon .d-icon-content {
	background-color: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 100%;
	text-align: center;
	padding: 7.5px 0;
	font-size: 18px;
	margin-bottom: 20px;
}

.detail .d-icon .d-icon-content .icon {
	font-size: 22px;
	position: absolute;
	left: 15%;
	line-height: 0;
	top: 10px;
}

.detail .d-quick-check  > tbody > tr > td {
	border-top: 0;
}

.detail .d-quick-check  > tbody > tr > td:last-child {
	border-left: 1px solid #eaeaea;
	padding-left: 24px !important;
}

.detail .d-quick-term .nopol {
	font-size: 30px;
}

.detail .d-quick-term  > tbody > tr:first-child td {
	border-top: 0;
}

.detail .d-quick-term  > tbody > tr > td {
	border-color: #eaeaea;
}

.detail .d-quick-term  > tbody > tr > td:first-child {
	border-left: 1px solid #eaeaea;
	padding-left: 20px;
}

.detail .d-verfied li {
	position: relative;
	padding-left: 25px;
}

.detail .d-verfied .icon {
	line-height: 0;
	font-size: 18px;
	position: absolute;
	left: 4px;
	top: 1px;
	color: #66c267;
}

.detail .d-include {
	color: #66c267;
	padding-top: 15px;
}

.detail .d-similiar {
	padding: 10px;
	padding-top: 0;
	background-color: #fff;
	border: 1px solid #fff;
}

.detail .d-similiar .s-include .icon {
	color: #66c267;
}

.detail .d-similiar .s-include .media-list {
	padding-top: 5px;
	margin: 0;
}

.detail .d-similiar .s-include .media-list li {
	margin-bottom: 3px;
}

.detail .d-rating {
	padding: 15px;
	background-color: #fff;
	padding-bottom: 5px;
}

.detail .d-rating .the-rating {
	border: 1px solid #eaeaea;
	padding: 45px 0 0 0;
}

.detail .d-rating .the-rating .nom {
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.detail .d-rating .the-rating .customer-review {
	background-color: #f8f8f8;
	border-top: 1px solid #eaeaea;
	padding: 15px  0;
	margin-top: 43px;
}

.detail .the-rating-value .box {
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	padding: 10px 15px;
	font-size: 15px;
	margin-bottom: 10px;
}

.detail .d-description {
	padding: 15px;
	background-color: #fff;
}

.detail .d-calender {
	padding: 15px;
	background-color: #fff;
}

.detail .d-calender .bootstrap-datetimepicker-widget .picker-switch {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

.detail .d-calender .datepicker .next,
.detail .d-calender .datepicker .prev {
	color: #0283df;
}

.detail .d-calender .datepicker .dow {
	background-color: #eaeaea;
	border: 1px solid #eaeaea;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.detail .d-calender .datepicker .day {
	border: 1px solid #eaeaea;
}

.detail .d-calender .datepicker .day.new,
.detail .d-calender .datepicker .day.old {
	background-color: #f8f8f8;
}

.detail .d-calender .datepicker .day.disabled {
	background-color: #fff8d4;
}

.detail .d-calender .bootstrap-datetimepicker-widget table td.day {
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.detail .d-reviews {
	padding: 5px 15px 15px 15px;
	background-color: #fff;
}

.detail .d-reviews .media-left img {
	width: 50px;
}

.detail .d-reviews h4 {
	font-size: 16px;
}

.detail .d-reviews .r-star {
	color: gold;
	position: relative;
	top: 3px;
}

.detail .d-reviews li {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 10px;
	margin-top: 10px;
}

.detail .d-user,
.detail .d-price-sum {
	background-color: #fff;
	height: 105px;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 20px !important;
	margin-bottom: 20px;
}

.detail .d-user u {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.detail .d-user img {
	width: 60px;
}

.detail .d-user .media-heading {
	margin: 0;
	font-size: 22px;
	margin-bottom: -3px;
}

.detail .d-user .u-rating {
	font-size: 16px;
	margin-bottom: -6px;
}

.detail .d-user .u-rating .icon {
	font-size: 18px;
	color: #37BC9B;
}

.detail .d-user .u-rating .r-text {
	position: relative;
	top: -3px;
}

.detail .duration {
	font-size: 16px;
	margin-top: -7px;
	color: #ff4f5c;
}

.detail .best {
	font-size: 16px;
	color: #53a854;
}

.detail .best .icon {
	position: relative;
	right: 2px;
	top: 3px;
	font-size: 20px;
}

.detail .d-show-more {
	padding-top: 15px;
	background-color: #0094df;
}

.detail .d-show-more a {
	background-color: #ffc20f;
	border: 0;
	font-size: 15px;
}

.detail .d-show-more::before{
	content: "";
	display: block;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #ccc;
	position: absolute;
	top: 60%;
}

.detail .d-pick-drop {
	margin-top: 15px;
}

.detail .d-pick-drop iframe {
	width: 100%;
}

.detail .d-pick-drop .dated {
	margin-bottom: 7.5px;
}

.detail .d-pick-drop .p-content {
	margin-top: 6px;
	padding: 15px;
	background-color: #fff;
}

.detail .d-content {
	padding: 15px;
	border: 1px solid #ccc;
}

.detail .d-content .col-xs-12.text-center {
	border-left: 1px solid #eaeaea;
}

.detail .d-facility {
	font-size: 15px;
}

.detail .d-facility li {
	padding-left: 25px;
	margin-bottom: 3px;
	color: #21846B;
}

.detail .d-facility li .icon {
	position: absolute;
	left: 0;
	font-size: 17px;
	color: #777;
}

.detail .d-price-total {
	color: #ff4f5c;
}

.detail .d-price-total .t-desc {
	font-size: 16px;
}

.detail .d-price-total .t-nom {
	font-size: 30px;
	line-height: 1;
}

.detail .d-price-total .t-duration {
	margin-bottom: 25px;
}

.detail .s-table {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#quick-view-modal .detail .s-table {
	margin: 0;
}

.detail .s-table .s-dur {
	font-size: 30px;
	padding-top: 18px;
}

.detail .s-table .s-dur-per {
	font-size: 26px;
	padding-top: 22px;
	color: #ff4f5c;
	text-align: right;
	padding-right: 20px;
}

.detail .s-table .s-dur-per .desc {
	font-size: 14px;
	color: #21846B;
	margin-top: -3px;
}

.detail .s-table .s-btn {
	padding-top: 18px;
}

.detail .s-table-title {
	padding-bottom: 0;
	border: 0;
}

.detail .s-table-title .t-text {
	background-color: #ffc20f;
	font-size: 18px;
	padding: 10px 15px;
	border-right: 1px solid #fff;
}

.detail .s-table-title .t-text.active {
	color: #fff;
	background-color: #ff4f5c;
}

.detail .s-table-title > div:last-child .t-text {
	border-right: 0;
}

.detail .d-similiar ul {
	font-size: 15px;
	margin: 0;
}

#quick-view-modal .detail .d-similiar ul {
	padding-top: 15px;
}

.detail .d-similiar > div:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.detail .d-info {
	color: #fff;
	padding: 25px 0 25px 0;
	font-size: 15px;
	background-color: #0094df;
}

.detail .d-info a {
	color: #FFC124;
}

#quick-view-modal .detail .d-similiar {
	padding-left: 0;
	padding-right: 0;
}

#quick-view-modal .detail .d-tab {
    margin-bottom: 0;
}

#quick-view-modal .detail .s-table .s-dur-per {
	font-size: 21px;
}

#quick-view-modal .modal-body {
	background-color: #0094df;
}

#collapse-similiar {
	padding-top: 15px;
}

.jssora05l, .jssora05r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url('../images/imgal/a17.png') no-repeat;
	overflow: hidden;
}

.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }
.jssora05l.jssora05lds { background-position: -10px -40px; opacity: .3; pointer-events: none; }
.jssora05r.jssora05rds { background-position: -70px -40px; opacity: .3; pointer-events: none; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/
.jssort01 .p {
	position: absolute;
	top: 0;
	left: 0;
	width: 72px;
	height: 72px;
}

.jssort01 .t {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.jssort01 .w {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.jssort01 .c {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 68px;
	height: 68px;
	border: #999 2px solid;
	box-sizing: content-box;
	background: url('../images/imgal/t01.png') -800px -800px no-repeat;
	_background: none;
}

.jssort01 .pav .c {
	top: 2px;
	_top: 0px;
	left: 2px;
	_left: 0px;
	width: 68px;
	height: 68px;
	border: #000 0px solid;
	_border: #fff 2px solid;
	background-position: 50% 50%;
}

.jssort01 .p:hover .c {
	top: 0px;
	left: 0px;
	width: 70px;
	height: 70px;
	border: #fff 1px solid;
	background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
	background-position: 50% 50%;
	width: 68px;
	height: 68px;
	border: #000 2px solid;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
	/* ie quirks mode adjust */
	width /**/: 72px;
	height /**/: 72px;
}


.login-area {
	background-color: #fff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.login-area .nav {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.login-area .nav::before,
.login-area .nav::after {
	display: none;
}

.login-area .nav > li {
	display: table-cell;
	float: none;
}

.login-area .nav-tabs > li > a {
	border: 0 !important;
	border-radius: 0;
	-webkit-border-radius: 0;
	margin: 0;
	font-size: 15px;
	position: relative;
	padding-bottom: 15px;
	background-color: transparent;
}

.login-area .nav-tabs > li.active > a,
.login-area .nav-tabs > li.active > a:focus,
.login-area .nav-tabs > li.active > a:hover {
	border: 0 !important;
	background-color: transparent !important;
}

.login-area .nav-tabs > li.active > a::before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #dddddd transparent;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.login-area .title {
	padding: 12.5px 0;
	border-bottom: 1px solid #ddd;
	margin: 0 15px;
}

.login-area .with {
	margin: 15px;
}

.login-area .login-header {
	margin: 0 15px;
}

.login-area .btn-social.btn-lg {
    padding-left: 50px;
    font-size: 14px;
    text-align: center;
}

.login-area .form {
	border-top: 1px solid #ddd;
	padding: 15px 0 15px 0;
	margin: 0 15px;
}

.login-area .form input {
	border-color: #ddd;
	height: 42px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.login-area .form input:focus,
.login-area .form input:active {
	border-color: #ddbd80;
}

.login-area .form button {
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.login-area .form button.btn-lost {
	height: 42px;
}

#password-strength-meter {
	margin-top: 7.5px;
	padding-left: 0;
	margin-bottom: 30px;
}

#password-strength-meter > li {
	display: inline-block;
}

#password-strength-meter > li span {
	display: none;
	position: absolute;
	top: 7.5px;
	right: 10px;
	color: #666;
	font-size: 12px;
}

#password-strength-meter > li.active.last span {
	display: block;
}

#password-strength-meter li:after {
	content: '';
	display: block;
	position: absolute;
	height: 7px;
	top:0;
	left: 10px;
	right: 10px;
	background-color: #ddd;
}

#password-strength-meter li.active:nth-child(1):after {
	background-color: #e4727a
}

#password-strength-meter li.active:nth-child(2):after {
	background-color: #f1b157
}

#password-strength-meter li.active:nth-child(3):after {
	background-color: #6cb7e1
}

#password-strength-meter li.active:nth-child(4):after{
	background-color: #78b15f
}

.password-match {
	position: absolute;
	right: 0;
	font-size: 18px;
	top: 10px;
	right: 10px;
}


.faq .f-box {
	margin: 35px auto 35px auto;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.faq .f-box .f-title {
	font-size: 28px;
	margin-bottom: 25px;
}

.faq .tab-content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 15px;
	margin-bottom: 20px;
}

.faq .nav > li > a {
	color: #333;
	padding: 7.5px 15px;
}

.faq .nav-tabs > li.active > a,
.faq .nav-tabs > li.active > a:focus,
.faq .nav-tabs > li.active > a:hover {
	color: #555;
}

.faq .s-title {
	color: #F16822;
	font-size: 21px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.faq .e-title {
	cursor: pointer;
	font-size: 19px;
	padding-left: 28px;
}

.faq .e-title:hover {
	color: #F16822;
}

.faq .e-title .icon {
	position: absolute;
	left: 0;
	font-size: 22px;
	color: #777;
}

.faq .f-expand {
	padding-top: 15px;
}

.faq .e-content p {
	padding-top: 10px;
	line-height: 1.6;
}

.faq .f-sub {
	font-size: 17px;
	padding-bottom: 10px;
	padding-top: 20px;
}

.faq .f-expand + .f-sub {
	padding-top: 20px;
}


.homepage {
	background-image: url('../../assets/images/bg-home.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.homepage main {
	background-color: #0094df;
	margin-bottom: 25px;
	box-shadow: 0 1px 15px 0 rgba(50,50,50,.75);
	-webkit-box-shadow: 0 1px 15px 0 rgba(50,50,50,.75);
	padding: 0 30px;
	width: 86%;
}

.homepage.body-listing main {
	width: 100%;
	padding: 15px 15px 0 15px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.homepage .tab-filter .nav-tabs > li > a {
	text-transform: uppercase;
}

.homepage .text-title {
	font-size: 36px;
	margin-bottom: 5px;
}

.homepage .q-slide .item {
	height: 340px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.homepage .q-slide .carousel-control {
	top: 42%;
	bottom: 42%;
	background: #ffc124;
	opacity: .9;
	text-shadow: none;
	width: 50px;
}

.homepage .q-slide .carousel-control:hover {
	opacity: 1;
}

.homepage .q-slide .carousel-control.right {
	-webkit-border-radius: 50% 0 0 50%;
	border-radius: 50% 0 0 50%;
}

.homepage .q-slide .carousel-control.left {
	-webkit-border-radius: 0 50% 50% 0;
	border-radius: 0 50% 50% 0;
}

.homepage .q-slide .carousel-control .glyphicon-chevron-left,
.homepage .q-slide .carousel-control .glyphicon-chevron-right,
.homepage .q-slide .carousel-control .icon-next,
.homepage .q-slide .carousel-control .icon-prev {
	font-size: 22px;
}

.homepage .q-slide .carousel-control .glyphicon-chevron-right,
.homepage .q-slide .carousel-control .icon-next {
	right: 41%;
}

.homepage .q-slide .carousel-control .glyphicon-chevron-left,
.homepage .q-slide .carousel-control .icon-prev {
	left: 41%;
}


.body-listing  {
	background-image: none;
	background-color: #0094df;
}

.tab-place {
	height: 340px;
	background-color: #fff;
	border: 1px solid #fff;
}

.tab-place .nav-tabs {
	border: 0;
	display: table;
	width: 100%;
}

.tab-place .nav-tabs > li {
	display: table-cell;
	float: none;
	margin: 0;
	width: 50%;
}

.tab-place .nav-tabs > li > a {
	border-radius: 0;
	-webkit-border-radius: 0;
	margin: 0;
	border: 0 !important;
	font-size: 20px;
	padding-left: 38px;
	background-color: #ddd;
}

.tab-place .nav-tabs > li > a .icon {
	font-size: 24px;
	line-height: 0;
	position: absolute;
	top: 13px;
	left: 10px;
}

.tab-place .nav-tabs > li.active > a,
.tab-place .nav-tabs > li.active > a:focus,
.tab-place .nav-tabs > li.active > a:hover {
	background-color: #0094df;
	color: #fff;
}

.tab-place ul.media-list {
	padding-top: 3px;
	margin-bottom: 0;
	height: 290px;
	overflow-y: hidden;
	padding-bottom: 3px;
}

.tab-place li.media {
	padding-left: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 13px;
	margin-top: 13px;
}

.tab-place #the-scroll li:last-child {
	border: 0;
	padding-bottom: 5px;
}

.tab-place li.media .l-name {
	font-size: 20px;
	line-height: 1.1;
}

.tab-place li.media .l-detail {
	line-height: 1.1;
}

.tab-place li.media .l-detail small {
	font-size: 11px;
	font-family: 'grota_sansbold';
}

.tab-place li.media .p-text {
	line-height: 1.15;
	top: 6px;
}

.tab-place li.media .p-nom {
	line-height: 0;
	font-size: 22px;
	position: relative;
	top: 18px;
}

.tab-place li.media .btn-default {
	border-radius: 0;
	-webkit-border-radius: 0;
	border-color: #0094df;
	padding-left: 8px;
	padding-right: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tab-place li.media:hover .l-name,
.tab-place li.media:hover .p-nom {
	color: #0094df;
}

.tab-place li.media:hover .btn-default {
	background-color: #0094df;
	color: #fff;
}

.tab-place .media-body {
	overflow: visible;
}

.mCSB_inside > .mCSB_container {
    margin-right: 18px;
}


.title-line {
	font-size: 30px;
	color: #fff;
	margin-bottom: 10px;
}

.title-line::before {
	height: 1px;
	background-color: #fff;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 21px;
	content: "";
}

.title-line > span {
	position: relative;
	padding: 0 10px;
	background-color: #0094df;
}


.more-info .m-images {
	padding-bottom: 36.25%;
}

.more-info .m-images > div {
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: "";
	display: block;
}

.more-info .m-images .m-content {
	display: table;
	height: 100%;
	width: 100%;
}

.more-info .m-images .m-content .m-inner {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.more-info .m-images .m-content .m-inner .m-title {
	font-size: 44px;
	line-height: 1.2;
}

.more-info .m-images .m-content .m-inner .btn-default {
	background: rgba(0,0,0,0.4);
	border: 2px solid #fff;
	margin-top: 10px;
	font-size: 20px;
}



.footer {
	background-color: #e8e8e8;
}

.homepage .footer {
	background-color: transparent;
	margin-top: 10px;
}

.f-menu-title {
	font-size: 20px;
	line-height: 1.15;
	margin-bottom: 5px;
}


.connect {
	padding: 30px 0 10px 0;
}

.connect .list-inline > li {
	padding-right: 0;
}

.social-media a {
	width: 42px;
	height: 42px;
	background-color: #fff;
	display: block;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
}

.social-media a.ic-post-facebook {
	background-color: #507cbe;
}

.social-media a.ic-post-twitter {
	background-color: #63cdf1;
}

.social-media a.ic-post-gplus {
	background-color: #4d4f54;
}

.social-media a.ic-post-blogger {
	background-color: #FF344B;
}

.homepage .social-media a.ic-post-facebook {
	color: #507cbe;
	background-color: #fff;
}

.homepage .social-media a.ic-post-twitter {
	color: #63cdf1;
	background-color: #fff;
}

.homepage .social-media a.ic-post-gplus {
	color: #4d4f54;
	background-color: #fff;
}

.homepage .social-media a.ic-post-blogger {
	color: #FF344B;
	background-color: #fff;
}


.bank {
	padding-bottom: 0px;
}

.bank img {
	margin-bottom: 10px;
}


.menu-footer {
	padding: 30px 0 0 0;
}

.menu-footer .media {
	margin-top: 2px;
}

.menu-footer .media a {
	display: block;
	font-size: 15px;
	color: #8e8e8e;
}

.menu-footer.footer-menu .media a {
	color: #fff;
}

.menu-footer.footer-menu {
	border-bottom: 1px solid #fff;
	padding-top: 15px;
	padding-bottom: 10px;
}

.other {
	margin-top: 20px;
}


.list-bank li {
	background-color: #fff;
	height: 40px;
	padding: 5px 10px;
	margin-right: 10px;
	margin-bottom: 13px;
}

.list-bank li img {
	background-color: #fff;
	height: 30px;
	width: auto;
}



.about-top a {
	padding: 15px;
	display: block;
	color: #8e8e8e;
}

.about {
	padding: 30px 0;
}

.about .logo {
	width: 180px;
}

.about .media {
	border-top: 1px solid #d1d1d1;
	padding-top: 30px;
}


.about-home {
	margin-top: 25px;
	margin-bottom: 30px;
	font-size: 17px;
	color: #ffc124;
}

.about-home a {
	color: #ffc124;
}

.about-home ul li {
	padding-left: 0;
}

.step {
	overflow: auto;
}

.step ul {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 15px;
}

.step ul li {
	display: table-cell;
	float: none;
}

.step ul li > div {
	background-color: #fff;
	padding: 3px 10px;
	font-size: 15px;
	border: 1px solid #fff;
}

.step ul li.active > div {
	color: #fff;
	background-color: #ff4f5c;
	border: 1px solid #777;
}

.body-listing .step {
	margin-top: 5px;
}

.body-listing .step ul {
	margin-left: 0;
	margin-right: 0;
}


/**
 * Responsive
 */
@media only screen and (min-width : 1200px) {
	.container {
		width: 1080px;
	}
	
	.l-filter .form-group {
		margin: 0;
	}
}

@media only screen and (max-width : 1200px) {
	.homepage main {
		width: 100%;
		padding: 0 20px;
		margin-bottom: 0;
	}
	
	.detail .s-table .s-dur-per {
		font-size: 23px;
	}
}

@media (min-width : 992px) and (max-width : 1200px) {
	.the-listing .l-list > .media-list .images {
		margin-bottom: 15px;
	}
}

@media only screen and (max-width : 992px) {
	.container {
		width: 100%;
	}
	
	.intro {
		padding: 160px 0 27% 0;
	}
	
	.intro.intro-login {
		padding: 160px 0 0 0;
	}
	
	.intro-listing {
		padding: 0;
	}
	
	.the-listing .l-list {
		overflow-y: hidden;
		height: auto;
	}
	
	.the-listing .l-list {
		padding-left: 15px;
	}
	
	.detail .d-tab .images {
		margin-bottom: 10px;
	}
	
	.detail .d-tab .price {
		font-size: 26px;
	}
	
	.detail .d-tab .price + div.text-muted {
		font-size: 13px;
		margin-top: -3px;
	}
	
	.detail .d-tab .nav > li > a {
		padding: 5px 7.5px;
		font-size: 13px;
	}
	
	.detail .d-quick-term {
		border-top: 1px solid #eaeaea;
	}
	
	.detail .d-quick-term > tbody > tr > td:first-child {
		border-left: 0;
		padding-left: 0;
	}
	
	.detail .d-similiar .s-cell > .s-price {
		border-right: 0;
	}
	
	.detail .d-similiar .s-cell > .s-include {
		border-left: 0;
		padding-left: 0;
	}
	
	.detail .d-similiar .s-price > div > .nom {
		font-size: 24px;
	}
	
	.homepage main {
		width: 100%;
		padding: 0 10px;
	}
	
	.quickchoice .nav-tabs.tab-destinations > li {
		margin-right: 26px;
	}
	
	.more-info .m-images .m-content .m-inner {
		text-align: center;
	}
	
	.more-info .m-images .m-content .m-inner .m-title {
		font-size: 30px;
	}
	
	.more-info .m-images .m-content .m-inner::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.15);
	}
	
	.detail .s-table .s-title {
		font-size: 15px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.detail .s-table .text-center {
		text-align: left;
	}
	
	.detail .s-table .s-dur-per {
		padding-top: 0;
	}
	
	.detail .d-similiar {
		padding-top: 10px;
	}
	
	.l-filter > div > div > div.row > div:first-child::before {
		display: none;
	}
	
	.l-filter {
		padding-bottom: 0;
		margin-bottom: 10px;
	}
}

@media only screen and (min-width : 992px) {
	.the-listing .l-map,
	.the-listing .l-map iframe {
		height: 700px;
	}
	
	.the-listing .l-map {
		margin-right: 15px;
		border-right: 1px solid #eaeaea;
		position: fixed;
		width: 40.66666667%;
		right: 0;
		bottom: 0;
		top: 275px;
	}
	
	.the-listing .l-list {
		margin-left: 15px;
		padding-left: 15px;
		border-left: 1px solid #eaeaea;
		border-top: 1px solid #eaeaea;
		position: fixed;
		width: 57.33333333%;
		left: 0;
		bottom: 0;
		top: 275px;
	}
	
	.body-listing {
		overflow: hidden;
	}
	
	.respon-top + .the-listing .l-list,
	.respon-top + .the-listing .l-map {
		top: 238px;
	}
	
	.detail .d-tab .tab-content .d-top-block > .row > .col-md-4 {
		width: 35.4444%;
	}
	
	.detail .d-tab .tab-content .d-top-block > .row > .col-md-8 {
		width: 64.3333%;
	}
	
	.detail .d-content {
		position: absolute;
		bottom: 0;
		top: 0;
		left: 15px;
		right: 0;
	}
	
	.row-table-md {
		display: table;
		table-layout: fixed;
		width: 100%;
		margin: 0;
	}
	
	.row-table-md > div {
		display: table-cell;
		float: none;
		vertical-align: top;
		padding-left: 0 !important;
		padding-right: 0 !important;
		height: 300px;
	}
	
	.l-filter .form-group {
		margin: 0;
	}
	
	#quick-view-modal #collapse-similiar .images,
	#quick-view-modal #imgal_detail {
		height: 300px !important;
	}

	#quick-view-modal #imgal_detail > div,
	#quick-view-modal #imgal_detail > div > div {
		height: 570px !important;
	}

	#quick-view-modal #imgal_detail img[data-u="image"] {
		height: 570px !important;
	}

	#quick-view-modal #imgal_detail div[data-u="slides"],
	#quick-view-modal #imgal_detail div[data-u="slides"] > div,
	#quick-view-modal #imgal_detail div[data-p*=""] {
		height: 480px !important;
	}

	#quick-view-modal #imgal_detail .jssort01 div[data-u="slides"] {
		height: 80px !important;
		top: 0 !important;
	}

	#quick-view-modal .jssora05l, .jssora05r {
		display: block;
		position: absolute;
		/* size of arrow element */
		width: 40px;
		height: 40px;
		cursor: pointer;
		background: url('../images/imgal/a17.png') no-repeat;
		overflow: hidden;
		top: 222px !important;
	}
}

@media only screen and (min-width : 768px) {
	.navbar-collapse {
		float: right;
	}
	
	.navbar-default.position-absolute .navbar-nav > li > a {
		color: #fff;
	}
	
	.navbar-default .navbar-nav > li:last-child > a {
		padding-right: 0;
	}
	
	.the-listing .l-list .media-heading {
		margin-top: 0px !important;
	}
	
	.detail .d-similiar .s-include {
		border-left: 1px solid #eaeaea;
		height: 100%;
		width: 100%;
		display: table;
		padding-left: 25px;
	}
	
	.detail .d-similiar .s-price {
		border-left: 1px solid #eaeaea;
		border-right: 1px solid #eaeaea;
		height: 100%;
		width: 100%;
		display: table;
		padding-left: 25px;
		padding-right: 15px;
	}
	
	.detail .d-similiar .s-include > div,
	.detail .d-similiar .s-price > div {
		display: table-cell;
		vertical-align: middle;
	}
	
	.detail .d-similiar .s-price .nom {
		font-size: 30px;
	}
	
	.detail .d-similiar .s-book {
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		top: -15px;
	}
}

@media only screen and (min-width : 560px) {
	.body-listing .step ul li:first-child {
		padding-left: 0;
	}
	
	.body-listing .step ul li:last-child {
		padding-right: 0;
	}
}

@media only screen and (max-width : 768px) {
	.bottom-destinations-xs {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid #d1d1d1;
	}

	.text-center-xs {
		text-align: center !important;
	}
	
	.home-head .navbar-nav {
		margin: 0px;
		background-color: #fff;
	}
	
	.homepage .home-head .navbar-nav {
		background-color: transparent;
		padding-top: 10px;
	}
	
	.intro {
		padding: 110px 0 50% 0;
	}
	
	.intro-listing {
		padding: 0;
	}
	
	.intro .tab-filter .nav-tabs {
		display: table;
		width: 100%;
	}

	.intro .tab-filter .nav-tabs > li {
		float: none;
		margin-bottom: -1px;
		display: table-cell;
		text-align: center;
	}
	
	.intro h2 {
		margin-bottom: 40px;
		margin-top: 0;
		font-size: 20px;
	}
	
	.homepage .intro h2 {
		margin-bottom: 20px;
		padding: 0 10px;
		font-size: 18px;
	}
	
	.intro.intro-login h2 {
		margin-bottom: 20px;
	}
	
	.intro.intro-login {
		min-height: auto;
		padding: 80px 0 15px 0;
	}
	
	.intro.intro-login .lost-password {
		margin-bottom: 10px;
		display: block;
	}
	
	.social-media {
		margin-bottom: 20px !important;
	}
	
	.about-top {
		margin-top: 15px !important;
	}
	
	.highlight .media {
		margin-bottom: 15px;
	}
	
	.highlight {
		padding: 30px 0 20px 0;
	}
	
	.the-listing .l-list > .media-list .images {
		margin-bottom: 10px;
	}
	
	.the-listing .l-filter .btn-submit {
		width: 100%;
		margin-top: 5px;
	}
	
	.the-listing .l-filter .result .text-right {
		text-align: left;
		margin-top: 5px;
	}
	
	.the-listing .l-list .s-price{
		margin-top: 10px;
		margin-left: 10px;
		text-align: center;
	}
	
	.the-listing .l-list > .media-list .images .item, .detail .d-similiar .images .item {
		padding-bottom: 55%;
	}
	
	.detail .d-tab .d-content .text-right {
		text-align: left;
	}
	
	.detail .ribbon-popular {
		top: 25%;
		z-index: 999;
		font-size: 12px;
	}
	
	.detail .d-tab .name {
		font-size: 20px;
	}
	
	.detail .d-tab .seat {
		font-size: 13px;
	}
	
	.detail .d-tab .price {
		font-size: 26px;
		margin-top: 10px;
		display: inline-block;
	}
	
	.detail .duration {
		display: inline-block;
	}
	
	.detail .d-tab .price + div.text-muted {
		font-size: 13px;
		margin-top: -3px;
	}
	
	detail .d-similiar {
		padding: 10px;
	}
	
	.detail .d-similiar .s-book {
		padding-top: 5px;
	}
	
	.detail .d-similiar > div {
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	
	.detail .d-similiar > div:last-child {
		border: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	
	.detail .d-rating .the-rating {
		margin-bottom: 20px;
	}
	
	.detail .d-user {
		margin-top: 0;
	}
	
	.detail .d-pick-drop {
		margin-bottom: 15px;
	}
	
	.detail .d-content .col-xs-12.text-center,
	.detail .d-content .col-xs-12.text-center .text-center {
		border: 0;
		text-align: left;
	}
	
	.detail .d-facility {
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 10px;
		margin-bottom: 5px;
	}
	
	.detail .d-price-sum {
		border-bottom: 1px solid #e1e1e1 !important;
	}
	
	.detail .d-price-total a {
		display: block;
	}
		
	.detail .s-table .text-center {
		text-align: left;
		padding-right: 0;
	}
	
	.login-area .with {
		margin-bottom: 0;
	}
	
	.login-area .with a {
		margin-bottom: 15px;
	}
	
	.btn-signup {
		margin-top: 10px;
	}
	
	.tab-place li.media .p-nom {
		top: 20px;
		font-size: 17px;
	}
	
	.tab-place li.media .l-name {
		font-size: 18px;
	}
	
	.tab-place .nav-tabs > li > a {
		font-size: 17px;
	}
	
	.tab-place .nav-tabs > li > a .icon {
		font-size: 22px;
		top: 12px;
	}
	
	.tab-place li.media .btn-default {
		padding: 4px 8px;
		position: relative;
		top: 5px;
	}
	
	.homepage .home-head .navbar-brand img {
		max-height: 44px;
	}
	
	.homepage .home-head {
		padding: 10px 0;
	}
	
	.homepage .home-head .navbar-brand {
		top: -10px;
		padding-left: 0;
	}
	
	.homepage .navbar-default .navbar-toggle {
		margin-right: 0;
	}
	
	.homepage .home-head .navbar-collapse {
		padding: 0;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}
	
	.featured .f-name .f-title {
		font-size: 17px;
	}
	
	.featured .f-name .f-subtitle {
		font-size: 14px;
	}
	
	.homepage .text-title {
		font-size: 25px;
	}
	
	.homepage .q-slide .item {
		height: 280px;
	}
	
	.tab-filter {
		position: static;
		margin: 0 10px 10px 10px;
		padding-bottom: 10px;
	}
	
	.homepage .intro {
		padding: 30px 0 10px 0;
	}
	
	.more-info .m-images {
		padding-bottom: 72.25%;
	}
	
	.list-bank {
		margin-bottom: 20px !important;
	}
	
	.f-menu-title {
		font-size: 18px;
	}
	
	.more-info .m-images .m-content .m-inner .m-title {
		font-size: 27px;
	}
	
	.title-line {
		font-size: 20px;
	}
	
	.title-line::before {
		top: 15px;
		height: 1px;
	}
	
	.about-home {
		margin-top: 0px;
		font-size: 15px;
		text-align: center;
	}
	
	.about-home .text-right {
		text-align: center;
		line-height: 1;
		margin-top: 10px;
	}
	
	.other {
		text-align: center;
	}
	
	.l-filter > div > div > div.row > div:nth-child(3)::before {
		display: none;
	}
	
	.l-list-filter ul {
		display: table;
		width: 100%;
	}
	
	.l-list-filter ul li {
		float: none;
		display: table-cell;
		padding: 0;
	}
	
	.l-list-filter .active a {
		padding: 6px 10px;
		text-align: center;
	}
	
	.l-list-filter .text {
		padding-top: 15px;
	}
}

@media only screen and (max-width : 680px) {
	.btn-x-lg {
		padding: 8px 20px;
		font-size: 18px;
	}
	
	.intro {
		padding: 110px 0 60% 0;
	}
	
	.intro.intro-login {
		min-height: auto;
		padding: 80px 0 15px 0;
	}
	
	.homepage .intro {
		padding: 30px 0 0 0;
	}
	
	
	.intro-listing {
		padding: 0;
	}
	
	.social-media a {
		width: 32px;
		height: 32px;
		font-size: 16px;
		line-height: 38px;
	}
	
	.quickchoice .nav-tabs.tab-destinations > li.active > a,
	.quickchoice .nav-tabs.tab-destinations > li.active > a:focus,
	.quickchoice .nav-tabs.tab-destinations > li.active > a:hover {
		margin-bottom: 0;
		border-width: 3px !important;
	}
	
	.quickchoice .nav-tabs.tab-destinations > li:last-child a {
		border-right: 0 !important;
	}
	
	.quickchoice .nav-tabs.tab-destinations > li:nth-child(even) a {
		border-right: 0 !important;
	}
	
	.quickchoice .nav-tabs.tab-destinations {
		display: block;
	}
	
	.quickchoice .nav-tabs.tab-destinations > li {
		display: inline-block;
		width: 48%;
		float: left;
	}
	
	.quickchoice .image {
		width: 40px;
	}
	
	.quickchoice .p-from {
		font-size: 15px;
	}
	
	.quickchoice sup {
		font-size: 13px;
	}
	
	.quickchoice .nom {
		font-size: 17px;
	}
	
	.rating-xs {
		font-size: 1.6em;
	}
	
	.quickchoice .nav-tabs.tab-destinations > li {
		margin-right: 2%;
		margin-bottom: 7px;
	}
	
	.quickchoice .nav-tabs.tab-destinations > li > a {
		text-align: left;
		border-width: 3px !important;
	}
}

@media only screen and (max-width : 560px) {
	.btn-x-lg {
		padding: 5px 16px;
		font-size: 15px;
	}
	
	.intro {
		padding: 110px 0 94% 0;
	}
	
	.intro-listing {
		padding: 0;
	}
	
	.intro .tab-filter .nav > li > a {
		position: relative;
		display: block;
		padding: 5px 7.5px;
		font-size: 13px;
	}
	
	.intro .tab-filter .nav-tabs > li > a .icon {
		font-size: 15px;
		left: 5px;
		top: 6px;
	}
	
	.tab-airport .nav-pills {
		display: table;
		width: 100%;
	}
	
	.tab-airport .nav-pills li {
		float: none;
		display: table-cell;
	}
	
	.tab-airport .nav-pills a {
		font-size: 12px !important;
	}
	
	.detail .d-tab .nav > li {
		width: 50%;
	}
	
	.detail .d-tab .nav > li:last-child {
		width: 50%;
	}
	
	.detail .d-tab .nav > li > a {
		border-radius: 0;
		-webkit-border-radius: 0;
		margin: 0;
	}
	
	.detail .d-similiar .s-price > div > .nom {
		font-size: 18px;
	}
	
	.detail .d-similiar .s-cell > .s-price {
		font-size: 13px;
	}
	
	.detail .d-similiar .s-include .media-list li {
		font-size: 13px;
	}
	
	.detail .the-rating-value .box {
		font-size: 13px;
	}
	
	.text-title {
		font-size: 15px;
		margin-bottom: 10px;
	}
	
	.social-media a {
		width: 34px;
		height: 34px;
		font-size: 15px;
		line-height: 38px;
	}
	
	.connect img {
		max-height: 34px;
		margin-top: 4px;
	}
	
	.about-top {
		margin-top: 15px !important;
	}
	
	.about-top a {
		padding: 5px;
	}
	
	.about .list-inline {
		margin-bottom: 10px !important;
	}
	
	.about .media,
	.about .media-left,
	.about .media-body {
		display: block;
		width: 100%;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		font-size: 13px;
	}
	
	.about .logo {
		width: 160px;
		display: inline-block;
		margin-bottom: 10px;
	}
	
	.login-area .nav-tabs > li > a {
		font-size: 13px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.faq .nav > li {
		margin-right: 0;
		width: 50%;
	}
		
	.faq .nav > li > a {
		font-size: 13px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: 0;
		border: 1px solid #ddd;
	}
	
	.faq .s-title {
		font-size: 18px;
	}
	
	.faq .e-title {
		font-size: 16px;
		padding-left: 24px;
	}
	
	.faq .e-title .icon {
		font-size: 19px;
	}
	
	.faq .f-sub {
		font-size: 15px;
		padding-bottom: 5px;
		padding-top: 10px;
	}
	
	.more-info .m-images .m-content .m-inner .m-title {
		font-size: 18px;
	}
	
	.title-line {
		font-size: 17px;
	}
	
	.step ul {
		display: block;
		width: auto;
	}
	
	.step ul li {
		float: left;
		width: 50%;
	}
	
	.step ul li:nth-child(even) {
		padding-right: 0;
	}
	
	.step ul li:nth-child(odd) {
		padding-left: 0;
	}
	
	.detail .d-tab .location {
		font-size: 13px;
	}
	
	.detail .s-table .s-dur-per {
		font-size: 22px;
	}
	
	.detail .s-table .s-title {
		font-size: 14px;
	}
	
	.detail .s-table .s-dur-per .desc {
		font-size: 13px;
	}
}
