/**
 * Override
 */
body {
	font-family: 'open_sansregular';
}

b,
strong,
.control-label {
	font-family: 'open_sansbold';
	font-weight: normal;
}

a,
button {
	outline: none !important;
	text-decoration: none !important;
}

a:hover {
	opacity: .9;
}


hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.media-middle {
	vertical-align: middle !important;
}

.bb {
	font-family: 'open_sansextrabold';
	font-weight: normal;
	font-style: normal;
}

.form-control {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-color: #ccc;
}

.form-control:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: #ddbd80;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #fff;
}

label {
	font-weight: normal;
}

.form-group {
	position: relative;
}

.pagination .icon {
	position: relative;
	top: 2px;
}

.pagination > li > a,
.pagination > li > span {
	margin-right: 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.pagination > li > span.space {
	border: 0;
}


/**
 * Puzzle
 */
.text-white {
	color: #fff !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.no-padding {
	padding: 0 !important;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-border {
	border: 0 !important;
}

.no-border-left {
	border-left: 0;
}

.no-radius {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}

.no-shadow {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	text-shadow: none !important;
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

.row > [class*="col-"] {
	padding-right: 10px;
	padding-left: 10px;
}

.col-center[class*="col-"] {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.row-small {
	margin-right: -5px !important;
	margin-left: -5px !important;
}

.row-small > [class*="col-"] {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
	margin: 0 !important;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-static {
	position: static;
}

.block {
	display: block;
}

.btn {
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.btn-x-lg {
	padding: 12px 26px;
	font-size: 22px;
}

.btn .icon {
	position: relative;
	top: 2px;
}

.btn-ghost {
	color: #333;
	border: solid #009f3c 2px;
	text-decoration: none;
}

.btn-ghost:hover {
	background: #009f3c;
	text-decoration: none;
	color: #fff;
}

.text-title {
	font-size: 18px;
	margin-bottom: 15px;
}

.bg-grey {
	background-color: #f3f3f3;
}

.typeahead {
	left: 0px !important;
	right: 0px !important;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.img-responsive {
	max-width: 100%;
	display: inline-block;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.bottom-destinations {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
}

.inline-input > div:first-child {
	background-color: #fff;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.inline-input > div:first-child input {
	border-right: 0;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.inline-input > div:last-child input {
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.inline-input .input-group-addon {
	background-color: #fff;
	border-color: #ccc;
	position: relative;
	padding: 0px 18px;
	color: #0283df;
	border-right: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.inline-input-single .input-group-addon .icon,
.inline-input .input-group-addon .icon {
	position: absolute;
	font-size: 21px;
	left: 9px;
	top: 10px;
}

.inline-input-single .input-group-addon {
	background-color: #fff;
	border-color: #ccc;
	color: #0283df;
	border-right: 0;
	padding: 0px 18px;
	position: relative;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}



/**
 * Header
 */
.navbar {
	margin-bottom: 0;
	padding-bottom: 0;
}

.navbar-default {
	left: 0;
	right: 0;
	top: 0;
	background: transparent;
	border: 0;
}

.body-listing .navbar-default {
	background: #fff;
}

.navbar .btn-head {
	padding-top: 10px !important;
}

.navbar-brand img {
	max-height: 24px;
}

.home-head .navbar-collapse {
	border-top: 0;
}

.home-head .navbar-default .navbar-toggle .icon-bar {
	background-color: #ddd;
}

.home-head .navbar-default .navbar-toggle:hover .icon-bar,
.home-head .navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #333;
}



/**
 * Main
 */
.intro {
	background-color: #eee;
	background-image: url('../images/home.jpg');
	background-size: cover;
	background-position: center;
	padding: 160px 0 17% 0;
	position: relative;
}

.intro::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: RGBA(0, 0, 0, 0.3);
}

.intro h2 {
	margin-bottom: 80px;
	margin-top: 0;
	font-size: 36px;
	line-height: 1.3;
	color: #fff;
}

.tab-filter {
	position: absolute;
	top: 110%;
	bottom: auto;
	left: 15px;
	right: 15px;
}

.tab-filter .nav-tabs {
	border: 0;
}

.tab-filter .nav-tabs > li {
	margin-bottom: 0;
}

.tab-filter .nav-tabs > li > a {
	margin-right: 0;
	padding: 10px 25px;
	padding-left: 34px;
	border: 0 !important;
	background-color: rgba(0,0,0,.45);
	color: #fff;
	font-size: 18px;
}

.tab-filter .nav-tabs > li > a,
.tab-filter .nav-tabs > li > a:focus,
.tab-filter .nav-tabs > li > a:hover {
	border: 1px solid #ddd;
	border-right: 0;
	border-bottom-color: transparent;
}

.tab-filter .nav-tabs > li > a:focus,
.tab-filter .nav-tabs > li > a:hover {
	background-color: rgba(0,0,0,.6);
	text-decoration: underline;
}

.tab-filter .nav-tabs > li:last-child > a,
.tab-filter .nav-tabs > li:last-child > a:focus,
.tab-filter .nav-tabs > li:last-child > a:hover {
	border-right: 1px solid #ddd;
}

.tab-filter .nav-tabs > li.active > a,
.tab-filter .nav-tabs > li.active > a:focus,
.tab-filter .nav-tabs > li.active > a:hover {
	background-color: rgba(255,255,255,.8);
	color: #000;
}

.tab-filter .nav-tabs > li > a .icon {
	font-size: 20px;
	position: absolute;
	left: 10px;
	line-height: 0;
	top: 13px;
}

.tab-filter > .tab-content {
	border: 0;
	border-top: 0;
	padding: 15px 15px 0 15px;
	background-color: rgba(255,255,255,.8);
	position: relative;
}

.tab-filter input {
	height: 40px;
	padding: 8px 15px;
}

.tab-filter button {
	height: 40px;
	font-size: 15px;
}

.tab-airport .nav-pills {
	padding-bottom: 15px;
}

.tab-airport .nav-pills a {
	padding: 6px 12px;
	font-size: 13px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}


.intro-listing {
	background-image: none;
	background-color: #f3f3f3;
	padding: 15px 0 15px 0;
	border-top: 1px solid #eaeaea;
}

.intro-listing::before {
	display: none;
}

.intro-listing .tab-filter {
	position: static;
}

.intro-listing .tab-filter .nav-tabs > li > a {
	font-size: 15px;
}

.intro-listing .tab-filter .nav-tabs > li > a .icon {
	font-size: 18px;
	top: 11px;
}



.highlight {
	padding: 50px 0;
}

.highlight .icon {
	font-size: 60px;
	line-height: 0;
}


.featured {
	padding: 50px 0;
	border-top: 1px solid #ddd;
}

.featured .box {
	background-color: #ddd;
	margin-bottom: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.featured .box::before {
	display: block;
	content: "";
	padding-bottom: 75%;
}


.review {
	color: #f3ce05;
	font-size: 13px;
}

.review .icon.text-muted {
	color: #aaa;
}

.review .icon {
	font-size: 17px;
	position: relative;
	top: 3px;
}


.quickchoice {
	padding: 0 0 35px 0;
}

.quickchoice .tabs {
	border: 1px solid #ddd;
}

.quickchoice .tab-content {
	padding: 0 10px 10px 10px;
}

.quickchoice .nav-tabs {
	display: table;
	width: 100%;
	background-color: #eff0f1;
}

.quickchoice .nav-tabs > li {
	float: none;
	display: table-cell;
}

.quickchoice .nav-tabs > li > a {
	margin-right: 0;
	border-top: 0;
	border: 0 !important;
	border-right: 1px solid #ddd !important;
	border-radius: 0;
	-webkit-border-radius: 0;
	text-align: center;
	display: block;
	color: #8e8e8e;
}

.quickchoice .nav-tabs > li:first-child a {
	border-left: 0 !important;
}

.quickchoice .nav-tabs > li:last-child a {
	border-right: 0 !important;
}

.quickchoice .nav-tabs > li.active > a,
.quickchoice .nav-tabs > li.active > a:focus,
.quickchoice .nav-tabs > li.active > a:hover {
	border-bottom: 1px solid #fff !important;
	margin-bottom: -1px;
	color: #010101;
}

.quickchoice .title-content {
	font-size: 19px;
	padding-top: 15px;
}

.quickchoice .image {
	width: 50px;
}

.quickchoice .image img {
	width: 100%;
	height: auto;
}

.quickchoice .p-from {
	font-size: 16px;
	margin-bottom: -1px;
	line-height: 1;
	color: #777;
}

.quickchoice sup {
	font-size: 15px;
	color: #888;
}

.quickchoice .nom {
	font-size: 20px;
	color: #3d7b3e;
}

.quickchoice .media {
	border-top: 1px solid #eaeaea;
	color: #333;
	padding-top: 10px;
	margin-top: 10px;
}

.quickchoice .media:hover {
	color: #0283df;
}

.quickchoice .media-heading {
	font-size: 17px;
}

.quickchoice .list-inline {
	margin-top: 5px;
}

.quickchoice .list-inline > li {
	padding-right: 0;
	float: left;
	color: #777;
	font-size: 13px;
}

.quickchoice .list-inline > li .icon {
	position: relative;
	top: 1px;
	color: #75c277;
	right: 1px;
}


.the-listing .l-list {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow-y: scroll;
	padding-right: 15px;
	background-color: #fff;
}

.the-listing .l-list > .media-list > li {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 15px;
}

.the-listing .l-list > .media-list .images {
	position: relative;
}

.the-listing .l-list > .media-list .images .quick-view {
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 3px 25px;
	font-size: 13px;
	z-index: 1;
	visibility: hidden;
	margin: auto;
	display: inline-block;
	left: 0;
	right: 0;
	width: 150px;
}

.the-listing .l-list > .media-list .images .quick-view .icon {
	position: relative;
	top: 3px;
}

.the-listing .l-list > .media-list .images:hover .quick-view {
	visibility: visible;
}

.the-listing .l-list > .media-list .images .item,
.detail .d-similiar .images .item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 75%;
}

.the-listing .l-list > .media-list .images .carousel-control,
.detail .d-similiar .images .carousel-control {
	background: none;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
	opacity: .7;
	visibility: hidden;
}

.the-listing .l-list > .media-list .images:hover .carousel-control,
.detail .d-similiar .images:hover .carousel-control {
	visibility: visible;
}

.the-listing .l-list > .media-list .images .user {
	color: #fff;
	position: absolute;
	bottom: 10px;
	left: 10px;
	top: auto;
}

.the-listing .l-list > .media-list .images .user .avatar {
	width: 40px;
}

.the-listing .l-list > .media-list .images .user .avatar img {
	width: 100%;
	padding: 1px;
	background-color: #fff;
}

.the-listing .l-list > .media-list .detail {
	margin-top: 5px;
}

.the-listing .l-list > .media-list .detail .media-list {
	margin-bottom: 15px;
}

.the-listing .l-list > .media-list .detail li {
	position: relative;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 1.36;
	color: #555;
	border-bottom: 1px solid #ebebeb;
}

.the-listing .l-list > .media-list .detail li .price {
	font-size: 16px;
	margin-top: 10px;
	line-height: 1;
}

.the-listing .l-list > .media-list .detail li .price sup {
	margin-right: 2px;
	display: inline-block;
	color: #555;
}

.the-listing .l-map {
	display: block;
	background-color: #aaa;
	border-top: 1px solid #eaeaea;
}

.the-listing .l-map iframe {
	width: 100%;
}

.the-listing .irs-to,
.the-listing .irs-from,
.the-listing .irs-min,
.the-listing .irs-max {
	display: none !important;
	visibility: hidden !important;
}

.the-listing .irs-single {
	display: block !important;
	visibility: visible !important;
	left: auto !important;
	background: transparent;
	color: #333;
	position: absolute;
	top: -7px;
	right: 0;
	font-size: 13px;
	padding: 0;
}

.the-listing .break {
	position: relative;
}

.the-listing .b-title {
	font-size: 13px;
}

.the-listing .range .b-title {
	margin-bottom: -12px;
}

.the-listing .l-filter {
	border-bottom: 2px solid #eaeaea;
	margin-bottom: 15px;
}

.the-listing .l-filter-bbm {
	padding-top: 25px;
}

.the-listing .l-filter .input-group .input-group-addon {
	position: relative;
	padding-left: 10px;
	padding-right: 26px;
}

.the-listing .l-filter .input-group .input-group-addon .icon {
	font-size: 18px;
	position: absolute;
	top: 9px;
}

.the-listing .l-filter .btn-submit {
	width: 105px;
	margin-top: 25px;
}

.the-listing .l-filter .result {
	margin-bottom: 7.5px;
}

.the-listing .l-filter .result .icon {
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
}

.the-listing .l-filter .result li {
	position: relative;
}

.the-listing .l-filter .result li a.active {
	display: block;
	padding-right: 13px;
}

.the-listing .l-list .s-price {
	line-height: 1.15;
	margin-bottom: 15px;
	padding-top: 20px;
}

.the-listing .l-list .s-price .nom {
	font-size: 20px;
}

.the-listing .l-list #date-filter + div {
	top: 64px !important;
	bottom: auto !important;
}

.the-listing .l-pagination .l-pag-text {
	margin-top: 15px;
}

.the-listing .l-pagination .pagination {
	margin-top: 10px;
}

.body-listing .tab-filter > .tab-content {
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}

.body-listing .tab-filter .nav-tabs > li > a,
.body-listing .tab-filter .nav-tabs > li > a:focus,
.body-listing .tab-filter .nav-tabs > li > a:hover {
	border-top: 1px solid #eaeaea !important;
	border-left: 1px solid transparent !important;
}

.body-listing .tab-filter .nav-tabs > li:last-child.active > a,
.body-listing .tab-filter .nav-tabs > li:last-child.active > a:focus,
.body-listing .tab-filter .nav-tabs > li:last-child.active > a:hover {
	border-right: 1px solid #eaeaea !important;
}

.body-listing .tab-filter .nav-tabs > li:first-child.active > a,
.body-listing .tab-filter .nav-tabs > li:first-child.active > a:focus,
.body-listing .tab-filter .nav-tabs > li:first-child.active > a:hover {
	border-left: 1px solid #eaeaea !important;
}

.body-listing .tab-filter .nav-tabs > li {
	margin-bottom: -1px;
}

.body-listing .tab-filter .nav-tabs {
	border-bottom: 1px solid #eaeaea;
}


.detail .d-tab {
	margin-bottom: 20px;
}

.detail .d-tab .nav-tabs > li > a {
	background-color: #0283df;
	color: #fff;
	border: 0 !important;
}

.detail .d-tab .nav-tabs > li > a:focus,
.detail .d-tab .nav-tabs > li > a:hover {
	opacity: .9;
}

.detail .d-tab .nav-tabs > li.active > a,
.detail .d-tab .nav-tabs > li.active > a:focus,
.detail .d-tab .nav-tabs > li.active > a:hover {
	background-color: #fff;
	border: 0;
	color: #333;
}

.detail .d-tab .tab-content .d-top-block {
	padding: 15px;
	background-color: #fff;
}

.detail .d-tab .name {
	font-size: 24px;
}

.detail .d-tab .name small {
	font-size: 60%;
}

.detail .d-tab .seat {
	font-size: 15px;
	letter-spacing: 1px;
}

.detail .d-tab .price {
	font-size: 30px;
}

.detail .d-tab .s-rating {
	margin-top: 40px;
}

.detail .d-tab .s-rating-content {
	background-color: gold;
	color: #fff;
	padding: 7.5px 15px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.detail .d-tab .s-rating-content b {
	font-size: 20px;
}

.detail .d-tab .s-rating-text {
	top: 7px;
}

.detail .d-tab .terms {
	top: 27px;
}

.detail .ribbon-popular {
	right: 0px;
	top: 50%;
}

.detail .ribbon-popular a {
	width: 100px;
}

.detail .d-bottom {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin-top: 20px;
}

.detail .d-icon {
	padding-top: 15px;
}

.detail .d-icon .d-icon-content {
	background-color: #f5f5f5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 100%;
	text-align: center;
	padding: 7.5px 0;
	font-size: 18px;
	margin-bottom: 20px;
}

.detail .d-icon .d-icon-content .icon {
	font-size: 22px;
	position: absolute;
	left: 15%;
	line-height: 0;
	top: 10px;
}

.detail .d-quick-check  > tbody > tr > td {
	border-top: 0;
}

.detail .d-quick-check  > tbody > tr > td:last-child {
	border-left: 1px solid #eaeaea;
	padding-left: 24px !important;
}

.detail .d-quick-term .nopol {
	font-size: 30px;
}

.detail .d-quick-term  > tbody > tr:first-child td {
	border-top: 0;
}

.detail .d-quick-term  > tbody > tr > td {
	border-color: #eaeaea;
}

.detail .d-quick-term  > tbody > tr > td:first-child {
	border-left: 1px solid #eaeaea;
	padding-left: 20px;
}

.detail .d-verfied li {
	position: relative;
	padding-left: 25px;
}

.detail .d-verfied .icon {
	line-height: 0;
	font-size: 18px;
	position: absolute;
	left: 4px;
	top: 1px;
	color: #66c267;
}

.detail .d-include {
	color: #66c267;
	padding-top: 15px;
}

.detail .d-similiar {
	margin-top: 10px;
	padding: 15px;
	background-color: #fff;
}

.detail .d-similiar .s-include .icon {
	color: #66c267;
}

.detail .d-similiar .s-include .media-list {
	padding-top: 5px;
	margin: 0;
}

.detail .d-similiar .s-include .media-list li {
	margin-bottom: 3px;
}

.detail .d-rating {
	padding: 15px;
	background-color: #fff;
	padding-bottom: 5px;
}

.detail .d-rating .the-rating {
	border: 1px solid #eaeaea;
	padding: 45px 0 0 0;
}

.detail .d-rating .the-rating .nom {
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.detail .d-rating .the-rating .customer-review {
	background-color: #f8f8f8;
	border-top: 1px solid #eaeaea;
	padding: 15px  0;
	margin-top: 43px;
}

.detail .the-rating-value .box {
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	padding: 10px 15px;
	font-size: 15px;
	margin-bottom: 10px;
}

.detail .d-description {
	padding: 15px;
	background-color: #fff;
}

.detail .d-calender {
	padding: 15px;
	background-color: #fff;
}

.detail .d-calender .bootstrap-datetimepicker-widget .picker-switch {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
}

.detail .d-calender .datepicker .next,
.detail .d-calender .datepicker .prev {
	color: #0283df;
}

.detail .d-calender .datepicker .dow {
	background-color: #eaeaea;
	border: 1px solid #eaeaea;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.detail .d-calender .datepicker .day {
	border: 1px solid #eaeaea;
}

.detail .d-calender .datepicker .day.new,
.detail .d-calender .datepicker .day.old {
	background-color: #f8f8f8;
}

.detail .d-calender .datepicker .day.disabled {
	background-color: #fff8d4;
}

.detail .d-calender .bootstrap-datetimepicker-widget table td.day {
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.detail .d-reviews {
	padding: 5px 15px 15px 15px;
	background-color: #fff;
}

.detail .d-reviews .media-left img {
	width: 50px;
}

.detail .d-reviews h4 {
	font-size: 16px;
}

.detail .d-reviews .r-star {
	color: gold;
	position: relative;
	top: 3px;
}

.detail .d-reviews li {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 10px;
	margin-top: 10px;
}

.detail .d-user {
	padding: 15px;
	background-color: #fff;
	margin-top: 40px;
}

.detail .d-user .u-detail {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 15px;
}

.detail .d-user .u-detail img {
	width: 46px;
}

.detail .d-user .u-detail .average {
	background-color: #66c267;
	color: #fff;
	padding: 5px 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-left: 5px;
	position: relative;
	top: -6px;
}

.detail .d-user .u-detail .average b {
	font-size: 17px;
}

.detail .d-user .u-pickup .continue {
	margin-top: 15px;
}

.detail .d-user .u-pickup input {
	border-color: #eaeaea;
}

.detail .d-user .u-pickup .input-group-addon {
	border-color: #eaeaea;
	background: #fff;
	border-right: 0;
	color: #ccc;
	position: relative;
	width: 38px;
}

.detail .d-user .u-pickup .input-group input {
	border-left: 0;
	padding-left: 0;
}

.detail .d-user .u-pickup .input-group .icon {
	font-size: 18px;
	position: absolute;
	top: 7px;
	left: 7px;
}

.detail .d-user .p-title {
	margin-bottom: 3px;
}

.detail .d-show-more {
	margin-top: 15px;
}

.detail .d-show-more::before{
	content: "";
	display: block;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #ccc;
	position: absolute;
	top: 50%;
}

.detail .d-pick-drop {
	margin-top: 15px;
}

.detail .d-pick-drop iframe {
	width: 100%;
}

.detail .d-pick-drop .dated {
	margin-bottom: 7.5px;
}

.detail .d-pick-drop .p-content {
	margin-top: 6px;
	padding: 15px;
	background-color: #fff;
}

#quick-view-modal .detail .d-similiar,
#quick-view-modal .detail .d-calender,
#quick-view-modal .detail .d-reviews,
#quick-view-modal .detail .d-rating,
#quick-view-modal .detail .d-description {
	padding-left: 0;
	padding-right: 0;
}

#quick-view-modal .detail .d-tab {
	margin-bottom: 0;
}

.jssora05l, .jssora05r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url('../images/imgal/a17.png') no-repeat;
	overflow: hidden;
}

.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }
.jssora05l.jssora05lds { background-position: -10px -40px; opacity: .3; pointer-events: none; }
.jssora05r.jssora05rds { background-position: -70px -40px; opacity: .3; pointer-events: none; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/
.jssort01 .p {
	position: absolute;
	top: 0;
	left: 0;
	width: 72px;
	height: 72px;
}

.jssort01 .t {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.jssort01 .w {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.jssort01 .c {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 68px;
	height: 68px;
	border: #999 2px solid;
	box-sizing: content-box;
	background: url('../images/imgal/t01.png') -800px -800px no-repeat;
	_background: none;
}

.jssort01 .pav .c {
	top: 2px;
	_top: 0px;
	left: 2px;
	_left: 0px;
	width: 68px;
	height: 68px;
	border: #000 0px solid;
	_border: #fff 2px solid;
	background-position: 50% 50%;
}

.jssort01 .p:hover .c {
	top: 0px;
	left: 0px;
	width: 70px;
	height: 70px;
	border: #fff 1px solid;
	background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
	background-position: 50% 50%;
	width: 68px;
	height: 68px;
	border: #000 2px solid;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
	/* ie quirks mode adjust */
	width /**/: 72px;
	height /**/: 72px;
}



.footer {
	background-color: #e8e8e8;
}

.connect {
	padding: 30px 0 10px 0;
}

.connect .list-inline > li {
	padding-right: 0;
}

.connect .social-media a {
	width: 42px;
	height: 42px;
	background-color: #aaa;
	display: block;
	color: #fff;
	text-align: center;
	line-height: 46px;
	font-size: 22px;
}

.connect .social-media a.ic-post-facebook {
	background-color: #507cbe;
}

.connect .social-media a.ic-post-twitter {
	background-color: #63cdf1;
}

.connect .social-media a.ic-post-gplus {
	background-color: #4d4f54;
}

.connect .social-media a.ic-post-blogger {
	background-color: #FF344B;
}


.bank {
	padding-bottom: 0px;
}

.bank img {
	margin-bottom: 10px;
}


.menu-footer {
	padding: 30px 0 0 0;
}

.menu-footer .media {
	margin-top: 5px;
}

.menu-footer .media a {
	display: block;
	font-size: 15px;
	color: #8e8e8e;
}

.about-top a {
	padding: 15px;
	display: block;
	color: #8e8e8e;
}

.about {
	padding: 30px 0;
}

.about .logo {
	width: 180px;
}

.about .media {
	border-top: 1px solid #d1d1d1;
	padding-top: 30px;
}


/**
 * Responsive
 */
@media only screen and (min-width : 1200px) {
	.container {
		width: 1080px;
	}
}

@media only screen and (max-width : 992px) {
	.container {
		width: 100%;
	}

	.intro {
		padding: 160px 0 27% 0;
	}

	.intro-listing {
		padding: 15px 0 15px 0;
	}

	.the-listing .l-list {
		overflow-y: hidden;
		height: auto;
	}

	.the-listing .l-list {
		padding-left: 15px;
	}

	.detail .d-tab .images {
		margin-bottom: 10px;
	}

	.detail .d-tab .price {
		font-size: 26px;
	}

	.detail .d-tab .price + div.text-muted {
		font-size: 13px;
		margin-top: -3px;
	}

	.detail .d-tab .nav > li > a {
		padding: 5px 7.5px;
		font-size: 13px;
	}

	.detail .d-quick-term {
		border-top: 1px solid #eaeaea;
	}

	.detail .d-quick-term > tbody > tr > td:first-child {
		border-left: 0;
		padding-left: 0;
	}

	.d-similiar > .s-table > .s-cell {
		display: block !important;
		float: left;
	}

	.d-similiar > .s-table > div:first-child {
		padding-right: 15px;
	}

	.detail .d-similiar .s-cell > .s-price {
		border-right: 0;
	}

	.detail .d-similiar .s-cell > .s-include {
		border-left: 0;
		padding-left: 0;
	}

	.detail .d-similiar .s-price > div > .nom {
		font-size: 24px;
	}

	.detail .d-user {
		margin-top: 28px;
	}
}

@media only screen and (min-width : 992px) {
	.the-listing .l-map,
	.the-listing .l-map iframe {
		height: 700px;
	}

	.the-listing .l-map {
		margin-right: 15px;
		border-right: 1px solid #eaeaea;
		position: fixed;
		width: 40.66666667%;
		right: 0;
		bottom: 0;
		top: 192px;
	}

	.the-listing .l-list {
		margin-left: 15px;
		padding-left: 15px;
		border-left: 1px solid #eaeaea;
		border-top: 1px solid #eaeaea;
		position: fixed;
		width: 57.33333333%;
		left: 0;
		bottom: 0;
		top: 192px;
	}

	.body-listing {
		overflow: hidden;
	}

	.respon-top + .the-listing .l-list,
	.respon-top + .the-listing .l-map {
		top: 238px;
	}

	.detail .d-tab .tab-content .d-top-block > .row > .col-md-4 {
		width: 35.4444%;
	}

	.detail .d-tab .tab-content .d-top-block > .row > .col-md-8 {
		width: 64.3333%;
	}
}

@media only screen and (min-width : 768px) {
	.navbar-collapse {
		float: right;
	}

	.navbar-default.position-absolute .navbar-nav > li > a {
		color: #fff;
	}

	.navbar-default .navbar-nav > li:last-child > a {
		padding-right: 0;
	}

	.the-listing .l-list .media-heading {
		margin-top: 0px !important;
	}

	.d-similiar .s-table {
		display: table;
		width: 100%;
		height: 100%;
		margin: 0;
		border: 1px solid #eaeaea;
		margin-bottom: 20px;
	}

	.d-similiar .s-table:last-child {
		margin-bottom: 0px;
	}

	.d-similiar .s-table .s-cell {
		display: table-cell;
		float: none;
		vertical-align: middle;
		padding: 0;
	}

	.d-similiar .s-table > div:nth-child(2) {
		padding-left: 15px;
		padding-right: 0;
	}

	.d-similiar > .s-table > div:first-child {
		padding-bottom: 15px;
		padding-left: 15px;
		padding-top: 15px;
	}

	.detail .d-similiar .s-include {
		border-left: 1px solid #eaeaea;
		height: 100%;
		width: 100%;
		display: table;
		padding-left: 25px;
	}

	.detail .d-similiar .s-price {
		border-left: 1px solid #eaeaea;
		border-right: 1px solid #eaeaea;
		height: 100%;
		width: 100%;
		display: table;
		padding-left: 25px;
		padding-right: 15px;
	}

	.detail .d-similiar .s-include > div,
	.detail .d-similiar .s-price > div {
		display: table-cell;
		vertical-align: middle;
	}

	.detail .d-similiar .s-price .nom {
		font-size: 30px;
	}

	.detail .d-similiar .s-book {
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		top: -15px;
	}
}

@media only screen and (max-width : 768px) {
	.bottom-destinations-xs {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid #d1d1d1;
	}

	.text-center-xs {
		text-align: center !important;
	}

	.home-head .navbar-nav {
		margin: 0px;
		background-color: #fff;
	}

	.intro {
		padding: 110px 0 50% 0;
	}

	.intro-listing {
		padding: 15px 0 15px 0;
	}

	.intro .tab-filter .nav-tabs {
		display: table;
		width: 100%;
	}

	.intro .tab-filter .nav-tabs > li {
		float: none;
		margin-bottom: -1px;
		display: table-cell;
		text-align: center;
	}

	.intro h2 {
		margin-bottom: 40px;
		margin-top: 0;
		font-size: 20px;
	}

	.connect .social-media {
		margin-bottom: 20px !important;
	}

	.about-top {
		margin-top: 15px !important;
	}

	.highlight .media {
		margin-bottom: 15px;
	}

	.highlight {
		padding: 30px 0 20px 0;
	}

	.quickchoice .col-xs-12 {
		width: 50%;
	}

	.the-listing .l-list > .media-list .images {
		margin-bottom: 10px;
	}

	.the-listing .l-list > .media-list .detail .media-list {
		margin-bottom: 5px;
	}

	.the-listing .l-filter .btn-submit {
		width: 100%;
		margin-top: 5px;
	}

	.the-listing .l-filter .result .text-right {
		text-align: left;
		margin-top: 5px;
	}

	.the-listing .l-list .s-price{
		margin-top: 10px;
	}

	.detail .d-tab .d-content .text-right {
		text-align: left;
	}

	.detail .ribbon-popular {
		top: 25%;
		z-index: 999;
		font-size: 12px;
	}

	.detail .d-tab .s-rating {
		margin-top: 20px;
	}

	.detail .d-tab .name {
		font-size: 20px;
	}

	.detail .d-tab .seat {
		font-size: 13px;
	}

	.detail .d-tab .price {
		font-size: 26px;
		margin-top: 10px;
	}

	.detail .d-tab .price + div.text-muted {
		font-size: 13px;
		margin-top: -3px;
	}

	.detail .d-tab .s-rating-content {
		padding: 5px 10px;
	}

	.detail .d-tab .s-rating-content b {
		font-size: 16px;
	}

	.detail .d-tab .s-rating img {
		width: 70px;
		position: relative;
		top: 5px;
	}

	.d-similiar > .s-table > div:first-child {
		padding-right: 10px;
	}

	detail .d-similiar {
		padding: 10px;
	}

	.detail .d-similiar .s-book {
		padding-top: 5px;
	}

	.detail .d-similiar > div {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #eaeaea;
	}

	.detail .d-similiar > div:last-child {
		border: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.detail .d-rating .the-rating {
		margin-bottom: 20px;
	}

	.detail .d-user {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.detail .d-pick-drop {
		margin-bottom: 15px;
	}
}

@media only screen and (max-width : 680px) {
	.btn-x-lg {
		padding: 8px 20px;
		font-size: 18px;
	}

	.intro {
		padding: 110px 0 60% 0;
	}

	.intro-listing {
		padding: 15px 0 15px 0;
	}

	.connect .social-media a {
		width: 32px;
		height: 32px;
		font-size: 16px;
		line-height: 38px;
	}

	.quickchoice .nav-tabs > li.active > a,
	.quickchoice .nav-tabs > li.active > a:focus,
	.quickchoice .nav-tabs > li.active > a:hover {
		border-bottom: 0 !important;
		margin-bottom: 0;
	}

	.quickchoice .nav-tabs > li:last-child a {
		border-right: 1px solid #ddd !important;
	}

	.quickchoice .nav-tabs > li:nth-child(even) a {
		border-right: 0 !important;
	}

	.quickchoice .nav-tabs {
		display: block;
	}

	.quickchoice .nav-tabs > li {
		display: inline-block;
		width: 50%;
		float: left;
	}

	.quickchoice .image {
		width: 40px;
	}

	.quickchoice .media-heading {
		font-size: 15px;
	}

	.quickchoice .p-from {
		font-size: 15px;
	}

	.quickchoice sup {
		font-size: 13px;
	}

	.quickchoice .nom {
		font-size: 17px;
	}

	.rating-xs {
		font-size: 1.6em;
	}
}

@media only screen and (max-width : 560px) {
	.btn-x-lg {
		padding: 5px 16px;
		font-size: 15px;
	}

	.intro {
		padding: 110px 0 94% 0;
	}

	.intro-listing {
		padding: 15px 0 15px 0;
	}

	.intro .tab-filter .nav > li > a {
		position: relative;
		display: block;
		padding: 5px 7.5px;
		font-size: 13px;
	}

	.intro .tab-filter .nav-tabs > li > a .icon {
		font-size: 15px;
		left: 5px;
		top: 6px;
	}

	.tab-airport .nav-pills {
		display: table;
		width: 100%;
	}

	.tab-airport .nav-pills li {
		float: none;
		display: table-cell;
	}

	.tab-airport .nav-pills a {
		font-size: 12px !important;
	}

	.detail .d-tab .nav > li {
		width: 50%;
	}

	.detail .d-tab .nav > li:last-child {
		width: 100%;
	}

	.detail .d-tab .nav > li > a {
		border-radius: 0;
		-webkit-border-radius: 0;
		margin: 0;
	}

	.detail .d-similiar .s-price > div > .nom {
		font-size: 18px;
	}

	.detail .d-similiar .s-cell > .s-price {
		font-size: 13px;
	}

	.detail .d-similiar .s-include .media-list li {
		font-size: 13px;
	}

	.detail .the-rating-value .box {
		font-size: 13px;
	}

	.text-title {
		font-size: 15px;
		margin-bottom: 10px;
	}

	.connect .social-media a {
		width: 34px;
		height: 34px;
		font-size: 15px;
		line-height: 38px;
	}

	.connect img {
		max-height: 34px;
		margin-top: 4px;
	}

	.quickchoice .col-xs-12 {
		width: 100%;
	}

	.about-top {
		margin-top: 15px !important;
	}

	.about-top a {
		padding: 5px;
	}

	.about .list-inline {
		margin-bottom: 10px !important;
	}

	.about .media,
	.about .media-left,
	.about .media-body {
		display: block;
		width: 100%;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		font-size: 13px;
	}

	.about .logo {
		width: 160px;
		display: inline-block;
		margin-bottom: 10px;
	}
}